
:root {
    --crl-btn: #ff7600;
    --crl-text: #fff;
    --crl-btn-bg: #bfacec;
}

html {
    margin: 0;
    height: 100vh;   
    width: 100vw;        
}

body {
    height: 100vh;   
    width: 100vw; 
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    font-family: sans-serif;
}



.btn {
    position: relative;
    cursor: pointer;
    display: inline-block;
    background: transparent;
    color: var(--crl-text);
    padding: 0.5em;
    z-index: 1;
}

.btn::after {
    content: "";
    position: absolute;
    background-color: var(--crl-btn-bg);
    height: 1em;
    width: 70%;
    left: 0;
    top: 50%;
    z-index: -1;
    transition: transform 250ms;
    transform-origin: bottom left;
}

.btn:hover::after,
.btn:active:after {
    transform: scale(1.4, 1.9);
}


.container
{
    display: flex;
    flex-direction: column;
    min-height: 500px;
    justify-content: center;        
}


.bg-logo {
    background-image: url('./assets//businessman.svg');
    background-position: left;
    background-clip: padding-box;
    background-size: contain;
    background-repeat: no-repeat;
    flex-grow: 1;
   
}

.container-right {    
    background-color: #9e9892;
    z-index: 1;
    flex-shrink: 1;
    max-width: 300px;
    margin: 20px;
}

.form-login {
    display: flex;
    flex-direction: column;    
    padding: 2em;
    box-sizing: border-box;
    justify-content: right;

}

@media screen and (min-width: 800px) {
    .container
    {
        min-width: 80vh;
        flex-direction: row;
        height: 60vh;

    }

    .bg-logo
    {
        max-width: 600px;
    }
}