
:root {
    --crl-btn: #ff7600;
    --crl-text: #fff;
    --crl-btn-bg: #bfacec;
}

html {
    margin: 0;
    height: 100vh;   
    width: 100vw;        
}

body {
    height: 100vh;   
    width: 100vw; 
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    font-family: sans-serif;
    overflow: hidden;
}



.btn {
    position: relative;
    cursor: pointer;
    display: inline-block;
    background: transparent;
    color: var(--crl-text);
    padding: 0.5em;
    z-index: 1;
}

.btn::after {
    content: "";
    position: absolute;
    background-color: var(--crl-btn-bg);
    height: 1em;
    width: 70%;
    left: 0;
    top: 50%;
    z-index: -1;
    transition: transform 250ms;
    transform-origin: bottom left;
}

.btn:hover::after,
.btn:active:after {
    transform: scale(1.4, 1.9);
}


.container
{
    width: 100vw;
    
    display: flex;
    flex-direction: column;
    min-height: 500px;
    justify-content: center;
    padding: 1em;
        
}


.bg-logo {
    background-image: url('./assets//businessman.svg');
    background-position: left;
    background-clip: padding-box;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    flex-grow: 1;
    min-width: 400px;
    min-height: 300px;
   
}

.container-right {    
    background-color: #424242;
    z-index: 1;        
    margin: 20px;    
}

.form-login {
    h3 {
        color: #fff;
    }
    display: flex;
    flex-direction: column;    
    padding: 2em;
    box-sizing: border-box;
    justify-content: right;

    .group {
        width: 100%;
    }
}

@media screen and (min-width: 900px) {
    .container
    {
        min-height: unset;
        min-width: 80vw;
        flex-direction: row;
        height: 60vh;

    }

    .bg-logo
    {
        width: 100%;
        max-width: 500px;
        min-height: 350px;
        max-height: 100%;
    }

    .form-login {
        max-width: 400px;

    }

    .container-right
    {
        max-width: 400px;
    }
}